:root {
    --main-color: #011627;
    --text-color: #41EAD4;
}

@keyframes scroll {
    0% {
        background-position: center bottom, center left;
    }
    100% {
        background-position: center bottom, center right;
    }
}

body {
    margin: 10px;

    font-family: ubuntu, sans-serif;
    color: var(--text-color);

    background-color: black;
    background-image: url(assets/profile-widescreen.png), url(assets/stars.gif);
    background-repeat: no-repeat, repeat;
    background-size: cover, 15%;
    background-attachment: fixed;
    background-position: center bottom, center;

    animation: scroll 90s linear infinite;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "status stats links"
        "projects other other";

    grid-gap: 10px;
}

.header {
    grid-area: header;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    border: 1px solid var(--text-color);
}

.status {
    grid-area: status;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    border: 1px solid var(--text-color);

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; 
}

.status-pfp {
    border: 6px solid var(--main-color);
    border-radius: 50%;
    max-width: 70%;

    background-color: black;
}

.stats {
    grid-area: stats;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--text-color);

}

.links {
    grid-area: links;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    place-items: center;
    border: 1px solid var(--text-color);

    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.link-title {
    grid-column: span 5;
    text-align: center;
}

.link {
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: auto;

    transition: 0.1s;
}

.link-pic {
    height: auto;
    max-width: 70%;
}

.link:hover {
    filter: brightness(75%);
    transform: rotate(-20deg);
}