:root {
    --main-color:#011627;
}

body {
    background-color: black;
    
    background-image: url(assets/profile-widescreen.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "main stats links";

    grid-gap: 10px;
}

.header {
    grid-area: header;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: white;
}

.main {
    grid-area: main;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 20px;
    text-align: left;

    background-repeat: no-repeat;
    background-image: url("assets/profile.png");
    background-size: auto 100%;
    background-position: right;

    color:white;
}

.stats {
    grid-area: stats;
    background-color: var(--main-color);
    text-align: right;
    border-radius: 5px
}

.links {
    grid-area: links;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    place-items: center;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.link-title {
    grid-column: span 5;
    text-align: center;
    color: white;
}

.link {
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: auto;

    transition: 0.1s;
}

.link-pic {
    max-width: 70%;
}

.link:hover {
    filter: brightness(75%);
}

